
#pneCenter {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 5;
}

#pneCenter:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#root {
    -fx-background-radius: 15 15 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#titleBar {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: #006A8B;
}

#appTitle {
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-font-family: Roboto;
}

.titleBarButton {
    -fx-background-radius: 50;
    -fx-background-color: #4790A7;
}

#minimizeButton {
    -fx-background-color: #00ce26;
}

#closeButton {
    -fx-background-color: #ff5e4c;
}

#toolBar {
    -fx-background-color: #ffffff;
}

#leftPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 0 10;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: #c8c8c8;
}

#rightPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 10 0;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: #c8c8c8;
}

#centerPane {
    -fx-background-color: #ffffff;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane > .stack-pane {
    -fx-background-color: #FFFFFF;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

/* Up- and Down-Button Padding */
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

/* Left- and Right-Button Padding */
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

/* Up Arrow */
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

/* Down Arrow */
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

/* Right Arrow */
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

/* Left Arrow */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.list-cell {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.list-cell .label {
    -fx-padding: 10;
}

.list-view {
    -fx-background-insets: 0;
}

.tree-table-cell {
    -fx-label-padding: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

