
#pneCenter {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 5;
}

#pneCenter:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

#root {
    -fx-background-radius: 15 15 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#titleBar {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: #006A8B;
}

#appTitle {
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-font-family: Roboto;
}

.titleBarButton {
    -fx-background-radius: 50;
    -fx-background-color: #4790A7;
}

#minimizeButton {
    -fx-background-color: #00ce26;
}

#closeButton {
    -fx-background-color: #ff5e4c;
}

#toolBar {
    -fx-background-color: #ffffff;
}

#leftPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 0 10;
    -fx-border-style: hidden solid hidden hidden;
    -fx-border-color: #c8c8c8;
}

#rightPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 10 0;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: #c8c8c8;
}

#centerPane {
    -fx-background-color: #ffffff;
}